<div class="container">

  <h2>TEMPLATE DRIVEN FORM</h2>
  <hr>
  <form #myform="ngForm">
   <div class="form-group">
     <label for="email">Email address</label>
     <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required="required" #control1="ngModel">
     <span class="error1" *ngIf="control1.touched &&control1.invalid && control1.errors.required">ENTER EMAIL ID</span>
   </div>
   <div class="form-group">
     <label for="pwd">Password</label>
     <input type="password" class="form-control" [(ngModel)]="pwd" name="pwd" #control2="ngModel" required="required">
     <span class="error2" *ngIf="control2.touched && control2.invalid && control2.errors.required ">ENTER PASSWORD</span>
   </div>
   <div class="form-group form-check">
     <input type="checkbox" class="form-check-input" id="exampleCheck1">
     <label class="form-check-label" for="exampleCheck1">Check me out</label>
   </div>
   <button  class="btn btn-primary" (click)="sendData(myform)">Submit</button>
 </form>

</div>
 
<hr>

<app-regform></app-regform>